.rmq {
    font-size: 0.8em;
    font-weight: bold;
}

h3 {
    background-color:rgb(165, 160, 174);
}

h2 {
    color: rgb(21, 21, 26);
}

 


 ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: rgb(141, 193, 209);
 }
 li { 
    float: left;
 } 
 li a { 
     display: block; 
     color: rgb(38, 34, 34); 
    text-align: center; 
    padding: 14px 16px; 
    text-decoration: none;
 } 
 /* Change the link color to #111 (black) on hover */ 
 li a:hover {
      background-color: rgb(205, 178, 224); 
    }

