<!doctype html>

<html lang="fr">
  <head>
   <title>récuparation formulaire client</title>

    <meta charset="utf-8">
    <meta name="description" content="luxe formulaire">
    <meta name="berin" content="HTML, JavaScript, formulaire">
    <meta name="lana" content="lanaform">
    <title>fomulaire de haute couture</title>
    <link rel="stylesheet" media="screen" href="../static/style.css">
  </head>

    <head>
        
        <meta name="description" content="haute_couture">
        <meta name="keywords" content="HTML5, CSS3">
         <meta name="author" content="Lana;berin">
        <link rel="stylesheet" href="../static/style.css">
        <title> haute_coutures </title>
         <body>
        
          <ul>
         <li><a href="/accueil">Acceuil</a></li>
         <li><a href="/formulaire"> Formulaire </a></li>
         <li><a href="/table"> Table </a></li>
        <li><a href="/reinitialiser"> Réinitiliser </a></li>
        </ul>
        <h1>Résultats</h1>
        <p>
            Le formulaire a été envoyé et les données récupérées.
        </p>
        <p>
            La variable prenom contient {{prenom}}
        </p>
        <p>
            La variable age contient {{age}}
        </p>
        <p>
            La variable marque contient {{marque}}
        </p>

       
    </body>
</html>