
  <!doctype html>

  <html lang="fr">
  <head>
   <title>récuparation formulaire client</title>

    <meta charset="utf-8">
    <meta name="description" content="luxe formulaire">
    <meta name="berin" content="HTML, JavaScript, formulaire">
    <meta name="lana" content="lanaform">
    <title>fomulaire de haute couture</title>
    <link rel="stylesheet" media="screen" href="../static/style.css">
  </head>

  
  <head>

    <meta charset="utf-8">
    
    <meta name="description" content="haute_couture">
    <meta name="keywords" content="HTML5, CSS3">
     <meta name="author" content="Lana,berin">
    <link rel="stylesheet" href="../static/style.css">
    <title> haute_coutures </title>
     <body>
    
      <ul>
     <li><a href="/accueil">Acceuil</a></li>
     <li><a href="/formulaire"> Formulaire </a></li>
     <li><a href="/table"> Table </a></li>
    <li><a href="/reinitialiser"> Réinitiliser </a></li>
    </ul>
  <style>
    body {
      background-image: url('https://images.pexels.com/photos/19670/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500');
      background-repeat: no-repeat;
      background-attachment: fixed;  
      background-size: cover;
    }
    </style>


  <h1>Bienvenue sur la table!</h1>
  <br>
  <table>
    <tr>
      <th>Nom</th>
      <th>Age</th>
      <th>Choix de la marque</th>
    </tr> 
    {%for haute_couture in haute_coutures %}
    <tr>
      <td>{{haute_couture['prenom']}}</td> 
      <td>{{haute_couture['age']}}</td>
      <td>{{haute_couture['marque']}}</td> 
      <td><a href="{{ url_for('supprimer', index=loop.index )}}" style="text-decoration: none;" >X</a></td>
    </tr>  
    {%endfor%}
  </head>
</table>
</body>